<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
<link rel='stylesheet' href='bootstrap-3.4.1-dist/'>
<!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>ZUFEActivity</title>
    <link rel="stylesheet" href="../../public/css/reset.css">
    <link rel="stylesheet" href="../../public/css/main/mainIndex.css">
</head>
<body class = 'container-wrapper'>
<div class="container">
    <!--顶部-->
    <nav class="moduleBar">
        <ul>
            {% if category =='' %}
            <li><a class="active" href="/">首页</a></li>
            {% else %}
            <li><a href="/">首页</a></li>
            {% endif %}
        </ul>
    </nav>
    <!--内容区-->
    <div class="content">
            <div class="rightModule borderColor">
                {% if userInfo._id %}
                <div class="rightBox borderColor" id="userInfoBox">
                    <div class="title"><span style="font-size: 16px">用户信息</span></div>
                    <p class="line" style="font-size: 16px">{{ userInfo.username }}</p>
                    {% if userInfo.isAdmin %}
                    <p class="line" style="font-size: 16px"><span style="font-size: 16px">欢迎登陆！</span style="font-size: 16px"><a href="/admin">进入管理</a></p>
                    {% else %}
                    <p class="line">欢迎你！</p>
                    {% endif %}
                    <div class="textRight"><a href="javascript:;" class="colMint" name="logout" style="font-size: 16px">退出</a></div>
                </div>
                {% else %}

                <div class="rightBox borderColor" id="loginBox">
                    <div class="title" style="font-size: 16px">登陆</div>
                    <div class="line"><span class="colDark" style="font-size: 16px">用户:</span><input name="username" type="text"></div>
                    <div class="line"><span class="colDark" style="font-size: 16px">密码:</span><input name="password" type="password"></div>
                    <div class="line"><span class="colDark"></span>
                        <button class="registerBtn" id="loginBtn" style="font-size: 16px">登录</button>
                  
                    <p class="textRight">
                        <a href="javascript:;" class="colMint" name="backLogin" style="font-size: 16px">注册</a>
                    </p>
                    </div>
                    <p class="colWarning textCenter"></p>
                </div>
                <div class="rightBox borderColor boxHidden" id="registerBox">
                    <div class="title" style="font-size: 16px"> 注册</div>
                    <div class="line"><span class="colDark" style="font-size: 16px">用户:</span><input name="username" type="text"></div>
                    <div class="line"><span class="colDark" style="font-size: 16px">密码:</span><input name="password" type="password"></div>
                    <div class="line"><span class="colDark" style="font-size: 16px">确认:</span><input name="repassword" type="password"></div>
                    <div class="line"><span class="colDark"></span>
                        <button class="registerBtn" id="registerBtn" style="font-size: 16px">注册</button>
                    </div>
                    <p class="textRight" style="font-size: 16px">已有账号 ?
                        <a href="javascript:;" class="colMint" name="login" style="font-size: 16px">马上登录</a>
                    </p>
                    <p class="colWarning textCenter"></p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <!--底部-->
    <footer>190110910820 吴桐 开源软件大作业</footer>
</div>

</body>
<script type="text/javascript" src="../../public/plug-in/jquery-3.1.1.js"></script>
<script type="text/javascript" src="../../public/js/main/mainIndex.js"></script>
</html>